@import "../../../styles/variables.scss";

.input {
  display: none;
}
.label {
  display: flex;
  font-size: 16px;
  color: #363636;
}
.active {
  color: #f83600;
  font-size: 18px;
  font-weight: 700;
}
