@import "../../../styles/variables.scss";

.wrapper {
  display: flex;
  width: 150px;
  height: 38px;
  border-radius: 20px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  box-shadow: $box_shadow;
  p {
    color: #a7a7a7;
    font-size: 14px;
  }

  @media (max-width: 630px) {
    width: 32px;
    height: 32px;
    p {
      display: none;
    }
  }
}
